<p id="notice"><%= notice %></p>

<br />

<h2>
  <%= @player.name %>
  <small><%= link_to 'Edit', edit_player_path(@player) %></small>
</h2>

<div class="row">
  <div class="col-md-12">
    <%= render 'cities/table' %>
  </div>
</div>
